<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />





<div class="forms">
    <div class="block1">



        <partial name="RegisterPartial">
    </div>

    <div class="block2">



        <partial name="LoginPartial">
    </div>
</div>
